

    .chart-wrapper{
        padding:2rem 2rem;
        .sec-title{
            text-decoration: underline;
            text-align: left;
        }
        .category-chart{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding:2rem 0;
            .chart{
                position:relative;
                display:flex;
                justify-content:center;
                min-height:10rem;
                .skill-score{
                    position: absolute;
                    text-align: center;
                    top: 35%;
                    font-size:1rem;
                }
                .skill-desc{
                    position: absolute;
                    bottom: 0px;
                    font-size:1rem;
                }
                canvas{
                    display:flex!important;
                    height:125px!important;
                    width:auto!important;
                }
            }
            
        }
    }


