@import "~bootstrap/scss/bootstrap";
.loading-indicator:before {
  content: '';
  background: #000000cc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: 'Loading';
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  color:white;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;        
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.control-center{
  height: 300px;
  width: 300px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.fade-face{
  animation: fadein 2s linear;
}
.face-img2{
  border-radius: 50%;
  display: inline-block;
  top:3rem;
  position:relative;
}
.face-imgs{
  position:absolute;
  top:25vh;
}



.intro{
  top: 69vh;
  position: absolute;
}
.intro span:nth-child(1){
  color:#EA7F0F;
  font-size:2rem;
}


/* circle code for image*/
.wrapper{
  width:200px;
  height:200px;
  position:relative;
  
}

.wrapper:before{
  content:'skills';
  position:absolute;
  width:200px;
  height:200px;
  border-radius:51%;
  border:50px solid black;
  left:10px;
  top:100px;
}


.App-header {
  background: linear-gradient(119.36deg, #00002B 0%, #430C43 100%);;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

object{
pointer-events: visible;
} 

.section-wrapper{
  background-color: black;    
  position: absolute;
  height: 100%;
  width: 25%;
  left: 0;
  animation: fadeinout 1s linear;
  opacity:0.4;
  top: 0;
}
.section-wrap{
  margin-left: 25%;
  width: 75%;
  height: 100%;
  overflow-y: auto;
  z-index: 0;
}
.section{
  margin: 2rem;
  .sec-header{
    display:flex;
    color:#EA7F0F;

    span{
      padding-left: 1rem;
    }
  }
}
.section-title{
  padding:1rem 11px 5rem;
  text-align: left;
  font-size:24px;
  span{
    padding-left: 0.5rem;
  }
}
@keyframes fadeinout {
  0% { opacity: 0; -webkit-transform: translateY(-500px);}
  100% { opacity: 0.4; -webkit-transform: translateY(0);}
}
@keyframes fadein {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes openAnimation {
  0% {
    transform: translate(0%,0%);
  }

  100% {
      transform:translate(-75%,-70%);
  }
}

@media only screen and (max-width: 768px) {
  .face-imgs{
    position: static;
    top:0;
    margin-bottom: 0;
  }
  .face-img{
    top: -38.5px;
    left: 72px;
  }
  .intro{
    margin-top: 2rem;
  }
  .section-wrapper{
    display: none;
  }
  .section-wrap{
    margin-left: 0;
    width: 100%;
  }
}
