@import "~bootstrap/scss/bootstrap";
.loading-indicator:before {
  content: '';
  background: #000000cc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: 'Loading';
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  color:white;
  text-align:center;
  font-weight:bold;
  font-size:1.5rem;        
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.control-center{
  height: 300px;
  width: 300px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.face-img{
  border-radius: 50%;
  display: inline-block;
  top: 22.5px;
  left: -2px;
  position:relative;
  z-index:1;
  height: 180px;
  width: 180px;
}
.fade-face{
  animation: fadein 2s linear;
}
.face-img2{
  border-radius: 50%;
  display: inline-block;
  top:3rem;
  position:relative;
}
.face-imgs{
  position:absolute;
  top:25vh;
}
.arc1, .arc2, .arc3, .arc4{
  z-index: 1;
  height: 130px;
  width: 130px;
}
.arc1{
  position: relative;
  bottom: 47px;
  left: 13.2rem;
  transition: box-shadow 2s;
  animation: arc1M 1s linear ;
}
@keyframes arc1M {
  from {opacity: 0;bottom: 70px;left: 11.2rem;}
  to {opacity: 1}
}
.arc2{
  position: relative;
  bottom: 50px;
  left: 226px;
  transition: box-shadow 2s;
  animation: arc2M 1s linear ;
}
@keyframes arc2M {
  from {opacity: 0;bottom: 74px;left: 252px;}
  to {opacity: 1}
}
.arc3{
  position: relative;
  top: 96px;
  right: 85px;
  transition: box-shadow 2s;
  animation: arc3M 1s linear ;
}
@keyframes arc3M {
  from {opacity: 0;top: 129px;right: 58px;}
  to {opacity: 1}
}
.arc4{
  position: relative;
  right: 359px;
  top: 95px;
  transition: box-shadow 2s;
  animation: arc4M 1s linear ;
}
@keyframes arc4M {
  from {opacity: 0;top: 126px;right: 389px;}
  to {opacity: 1}
}


.intro{
  top: 69vh;
  position: absolute;
}
.intro span:nth-child(1){
  color:#EA7F0F;
  font-size:2rem;
}


/* circle code for image*/
.wrapper{
  width:200px;
  height:200px;
  position:relative;
  
}

.wrapper:before{
  content:'skills';
  position:absolute;
  width:200px;
  height:200px;
  border-radius:51%;
  border:50px solid black;
  left:10px;
  top:100px;
}


.App-header {
  background: linear-gradient(119.36deg, #00002B 0%, #430C43 100%);;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

object{
pointer-events: visible;
} 
svg path:nth-child(1) {
  transition: fill .2s linear;
}
svg:hover path:nth-child(1){
fill:orange;
}
.selectedarc path:nth-child(1){
  fill:orange!important;
}
.section-wrapper{
  background-color: black;    
  position: absolute;
  height: 100%;
  width: 25%;
  left: 0;
  animation: fadeinout 1s linear;
  opacity:0.4;
  top: 0;
}
.section-wrap{
  margin-left: 25%;
  width: 75%;
  height: 100%;
  overflow-y: auto;
  z-index: 0;
}
.section{
  margin: 2rem;
  .sec-header{
    display:flex;
    color:#EA7F0F;

    span{
      padding-left: 1rem;
    }
  }
}
.section-title{
  padding:1rem 11px 8px;
  text-align: left;
  font-size:24px;
  span{
    padding-left: 0.5rem;
  }
}
@keyframes fadeinout {
  0% { opacity: 0; -webkit-transform: translateY(-500px);}
  100% { opacity: 0.4; -webkit-transform: translateY(0);}
}
@keyframes fadein {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes openAnimation {
  0% {
    transform: translate(0%,0%);
  }

  100% {
      transform:translate(-75%,-70%);
  }
}
