.face-imgs{
    position:absolute;
    top:25vh;
  }
  .face-img{
    border-radius: 50%;
    display: inline-block;
    top: 22.5px;
    left: -2px;
    position:relative;
    z-index:1;
    height: 180px;
    width: 180px;
  }
  svg path:nth-child(1) {
    transition: fill .2s linear;
  }
  svg:hover path:nth-child(1){
  fill:orange;
  }
  .selectedarc path:nth-child(1){
    fill:orange!important;
  }
  .arc1, .arc2, .arc3, .arc4{
    z-index: 1;
    height: 130px;
    width: 130px;
  }
  .arc1{
    position: relative;
    bottom: 47px;
    left: 13.2rem;
    transition: box-shadow 2s;
    animation: arc1M 1s linear ;
  }
  @keyframes arc1M {
    from {opacity: 0;bottom: 70px;left: 11.2rem;}
    to {opacity: 1}
  }
  .arc2{
    position: relative;
    bottom: 50px;
    left: 226px;
    transition: box-shadow 2s;
    animation: arc2M 1s linear ;
  }
  @keyframes arc2M {
    from {opacity: 0;bottom: 74px;left: 252px;}
    to {opacity: 1}
  }
  .arc3{
    position: relative;
    top: 96px;
    right: 85px;
    transition: box-shadow 2s;
    animation: arc3M 1s linear ;
  }
  @keyframes arc3M {
    from {opacity: 0;top: 129px;right: 58px;}
    to {opacity: 1}
  }
  .arc4{
    position: relative;
    right: 359px;
    top: 95px;
    transition: box-shadow 2s;
    animation: arc4M 1s linear ;
  }
  @keyframes arc4M {
    from {opacity: 0;top: 126px;right: 389px;}
    to {opacity: 1}
  }
  @media only screen and (max-width: 768px) {
  .og-position{
    .arc1{
      bottom: -42px;
      left: 0.2rem;
      animation: arc1M 1s linear ;
    }
    @keyframes arc1M {
      from {opacity: 0;bottom: -22px;left: -1.8rem;}
      to {opacity: 1}
    }
    .arc2{
      bottom: -39px;
      left: 15px;
      animation: arc2M 1s linear ;
    }
    @keyframes arc2M {
      from {opacity: 0;bottom: -20px;left: 38px;}
      to {opacity: 1}
    }
    .arc3{
      top: 37px;
      right: 11px;
      animation: arc3M 1s linear ;
    }
    @keyframes arc3M {
      from {opacity: 0;top: 56px;right: -11px;}
      to {opacity: 1}
    }
    .arc4{
      right: 4rem;
      top: -121px;
    }
    @keyframes arc4M {
      from {opacity: 0;top: -103px;right: 6rem;}
      to {opacity: 1}
    }
  }
  .mobile-position{
    position:relative;
    z-index:100;
  .face-imgs{
      position: absolute;
      top: -55px;
      right: 35px;
    .face-img{
      height: 90px;
      width: 90px;
      z-index: 2;
      top: -40.5px;
      left: 73px;
    }
    .arc1, .arc2, .arc3, .arc4{
      z-index: 1;
      height: 65px;
      width: 65px;
    }
    .arc1{
      bottom: 75px;
      left: 181px;
      animation: none;
    }
    .arc2{
      left: 186px;
      bottom: 77px;
      animation: none;
    }
    .arc3{
      top: -3px;
      left: 30px;
      animation: none;
    }
    .arc4{
      top: -81px;
      left: 71px;
      animation: none;
    }
  }
}
}
  
  
  